html {
  height: 100%;
}

body {
  background: hsl(170, 100%, 87%);
  color: #333333;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 18px;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#date-display {
  font-size: 40px;
}

#parameters {
  margin-top: 10%;
}

#status {
  margin-top: 5%;
  font-size: 24px;
}

.answers-div {
  margin-top: 3%;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  border-style: solid;
  border-width: .125rem;
  border-radius: 9999px;
  border-color: hsl(170, 50%, 30%);
  background-color: hsl(170, 100%, 87%);
  color: hsl(170, 50%, 30%);
  font-size: .875rem;
  display: inline-block;
}

#replay-button {
  margin-top: 3%;
  font-size: 24px;
}

.replay-button-container {
  display: flex;
  justify-content: center;
}
